ion-header {
  ion-toolbar {
    --background: #7895CB;
  }
}

ion-content {
  --ion-background-color: #A0BFE0;
}

.register-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

ion-button {
  --background: #4A55A2;
  --color: white;
}

a {
  color: #4A55A2;
  text-decoration: none;
}

a:hover {
  color: #7895CB;
}

  