ion-content {
    --background: #4A55A2;
  }
  
  ion-title {
    color: white;
  }
  
  h2, p {
    color: white;
  }
  
  .creadores-app-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  